@import 'root';
@import 'variables';
@import 'components/BarraEstado';
@import 'components/BarraAcessibilidade';
@import 'components/FooterSiteMap';
@import 'components/Footer.scss';
@import 'components/LogoProcergs.scss';
@import 'components/SimboloRS.scss';
@import 'components/Header.scss';
@import 'components/SeloGoverno.scss';
@import 'components/SearchBar.scss';
@import 'components/SecretariaNome.scss';
@import 'components/RedesSociais.scss';
@import 'components/LocalTeaser.scss';
@import 'components/GridWithImage.scss';
@import 'components/GridServicos.scss';
@import 'components/Sitemap.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}
