$green-matriz-link-activated: #2F4A0B;

$green-matriz-link: #1A7235;

$gray-02: #F8F8F8;

$gray-05: #F0F0F0;

$gray-10: #E6E6E6;

$gray-20: #CCCCCC;

$gray-70: #555555;

$gray-cool-70: #3D4551;

$gray-01: #FCFCFC;

$gray-cool-90: #1C1D1F;

$gray-50: #757575;

$gray-warm-50: #76766A;

$gray-warm-80: #2E2E2A;

$gray-warm-90: #171716;

$gray-90: #1B1B1B;

$green-vivid-80: #243413;

$green-vivid-50: #538200;

$green-40: #7D9B4E;

$green-50: #607F35;

$green-90: #161814;

$green-vivid-10: #C5EE93;

$green-10: #DFEACD;

$unnamed-color-333333: #333333;
:root {
    --link-color: #1A7235 !important;
}
