.header-wrapper {
  > :nth-child(3) {
    all: unset !important;
  }
  > :nth-child(2) {
    a {
      color: unset;
      font-size: unset;
    }
    a:hover {
      color: $green-matriz-link-activated !important;
    }
  }
}

.header-wrapper .header .tools-wrapper {
  flex-direction: row !important;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.simbolo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-titulo {
  margin-left: 30px;
  color: black;
  font-size: 24px;
  font-weight: 375;
  text-align: left;
}

.header-titulo:hover {
  color: $green-matriz-link-activated;
}

.header-wrapper .header .logo-nav-wrapper {
  align-items: center;
}

@media (min-width: 768px) {
  .logo-nav-wrapper,
  .tools-wrapper {
    width: 750px;
    align-self: center;
  }
}
@media (min-width: 992px) {
  .logo-nav-wrapper,
  .tools-wrapper {
    width: 970px;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  .logo-nav-wrapper,
  .tools-wrapper {
    width: 1170px;
    align-self: center;
  }
}
