#footer {
  background-color: var(--green-matriz-link-activated);
}

.footer-container {
  max-width: var(--layout-container-width);
  padding: 0 15px;
  margin: 0 auto;
}

.footer-container > * {
  margin-bottom: 40px;
}

.footer-site-nome {
  padding: 30px 0 0.125em 0;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: start;
  text-transform: uppercase;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 40px;
  color: white;
  gap: 40px;
  text-align: start;
}

.footer-info > p {
  width: 250px;
}

.footer-selo-governo {
  width: 250px;
}

.footer-logo {
  height: 80px;
  align-content: center;
  background-color: var(--green-vivid-80);
}

.footer-logo > p {
  color: white;
  font-size: 13px;
}
