@import 'root';
@import 'variables';
@import './components/carrossel.scss';
@import './components/contraste.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#page-sitemap {
  max-width: var(--default-container-width);
  margin-right: auto;
  margin-left: auto;
  color: #2f4a0b;
}

.section-sitemap #page-sitemap ul {
  list-style-type: square;
}

.content-area p > a,
.content-area li > a,
.content-area .breadcrumb a,
.breadcrumbs p > a,
.breadcrumbs li > a,
.breadcrumbs .breadcrumb a {
  color: #2f4a0b;
  text-decoration: none;
}

#page-document .blocks-group-wrapper > .block h2.headline {
  margin-left: unset !important;
}
